.calendar {
  display: flex;
  flex-direction: column;
  margin: var(--calendar-margin);
}

.calendar .inner {
  display: flex;
}

.date_container {
  width: 75px;
  text-align: right;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 7px;
}

.event_container {
  position: relative;
  background-color: var(--calendar-background-color);
  padding: var(--calendar-padding);
  width: var(--calendar-width);
  height: var(--calendar-height);
  float: left;
}

.date {
  font-weight: bold;
  color: #686868;

}

.offset {
  font-size: 12px;
  font-weight: normal;
  color: #A7A7A7;
}