:root {
  --calendar-background-color: #ededed;
  --calendar-margin: 30px;
  --event-background-color: #ffffff;
  --event-title-text-color: #57a58b;
  --event-border-left: 8px solid #57a58b;
  --border: 1px solid #ccc;
}